In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df_gene_met = pd.read_csv("diff_exp_control_vs_met.txt", index_col=0, header=None)

In [35]:
list_gene = list(df_gene_met[1].str.upper())
list_gene = [x for x in list_gene if str(x) != 'nan']
list_gene

['MFAP5',
 'NRARP',
 'PAPOLA',
 'CACNG1',
 'CXCL12',
 '6430548M08RIK',
 'LSM12',
 'MEF2C',
 'TKT',
 'NHLRC2',
 'EIF5',
 'HSPB3',
 'MPP3',
 'SRXN1',
 'PPARGC1A',
 'NFATC3',
 'TRF',
 'TMEM261',
 'VPS33A',
 'RRP1B',
 'ATP6V1G1',
 'THAP3',
 'SAMD4',
 'ATP5J',
 'SLC39A7']

In [37]:
print(len(list_gene))

25

In [27]:
df_human_gene = pd.read_csv("../BE700_human_expression.(1) (1) (1).csv", sep=",", index_col=0)

In [28]:
df_human_gene

,GSM624925,GSM624926,GSM624927,GSM624928,GSM624929,GSM624930,GSM624931,GSM624932,GSM624933,GSM624934,...,GSM624965,GSM624966,GSM624967,GSM624968,GSM624969,GSM624970,GSM624971,GSM624972,GSM624973,GSM624974
NaN,8.471675,8.454916,8.556889,8.494256,8.532161,8.670656,8.480992,8.572890,8.705287,8.578561,...,8.693835,8.561097,8.544192,8.280771,8.680535,9.058533,8.813140,8.491051,8.666402,8.423746
A1BG,6.826548,7.133399,6.812498,7.022368,8.620220,6.831624,4.364572,9.176423,7.197708,4.877744,...,6.587965,7.098032,6.928370,9.071462,5.623516,8.870981,6.446256,9.038645,7.673132,8.292322
A1BG-AS1,6.841722,6.892391,7.330917,7.744834,6.035624,7.029011,5.675251,6.675251,6.898450,7.646019,...,5.970394,7.487036,7.013462,5.947199,7.525912,7.552285,6.183883,6.436295,6.723832,6.380245
A1CF,9.203944,7.152580,7.967381,8.668846,9.281442,8.735617,8.116074,8.624294,9.202751,8.558300,...,8.237870,7.466352,8.603869,9.230335,7.623118,10.483850,8.654938,8.722930,7.925434,7.348239
A2M,12.070644,12.384987,12.021358,12.076220,12.111531,11.928383,12.246184,11.657184,12.274542,12.071838,...,11.649315,12.021207,12.316316,12.355112,12.293787,12.978614,12.051230,12.104289,12.002147,11.957426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYG11A,6.938991,4.857981,5.436295,5.904484,8.192786,6.605850,4.887525,6.632268,6.112700,7.073606,...,6.676662,6.548437,6.488644,4.944858,6.187847,8.797662,6.221104,5.201634,7.699052,6.213347
ZYG11B,14.932713,15.712538,15.286579,15.574047,14.932519,15.298123,15.049772,15.205690,15.178727,15.420862,...,15.168809,15.040906,15.675927,15.303085,14.750880,15.398059,15.164467,15.008529,15.007938,15.357521
ZYX,11.483651,10.494377,11.120819,11.202640,11.090102,10.709364,10.530310,10.714498,11.474636,10.546667,...,11.593874,11.015110,11.431737,10.921342,12.182361,11.749626,9.807514,11.345018,10.798914,10.859741
ZZEF1,8.699052,8.372430,7.827184,9.100925,8.462298,7.874059,9.045760,9.044121,8.232661,8.342519,...,7.121015,9.293242,8.816344,7.229780,9.651052,9.932215,9.867896,9.550747,7.911692,8.293702
ZZZ3,10.999399,11.046991,11.193368,11.196311,11.561014,11.333701,11.441655,11.491251,10.975295,11.608255,...,11.292892,11.572440,10.775740,11.057172,10.768284,11.274777,11.755555,11.287104,11.618784,11.712559

In [38]:
## MICE & Diabetes [no highest p values]

count = 0

for i in list_gene:
    if (i in list(df_human_gene.index)):
        count += 1
        print(i)

print(count)

MFAP5
NRARP
PAPOLA
CACNG1
CXCL12
LSM12
MEF2C
TKT
NHLRC2
EIF5
HSPB3
MPP3
SRXN1
PPARGC1A
NFATC3
TMEM261
VPS33A
RRP1B
ATP6V1G1
THAP3
ATP5J
SLC39A7
22

In [40]:
df_dnnd_gene = pd.read_csv("diff_exp_human_muscle_normal_vs_diabetic_a1c.txt", index_col=0, sep=",")
df_dnnd_gene

         1.01813095371862e-06
PGLYRP1
PLEKHM3              0.000001
ZNF26                0.000022
SIDT1                0.000061
GPR146               0.000062
BICC1                0.000067
...                       ...
NIN                  0.049886
SOX21                0.049893
DHX37                0.049900
SEC14L2              0.049913
CCDC69               0.049953

[1589 rows x 1 columns]

In [44]:
## MICE & Diabetes

count = 0

# list(df_dnnd_gene.index)
for i in list_gene:
    if (i in list(df_dnnd_gene.index)):
        print(i)
        count += 1
print(count)

0

In [45]:
df_brain = pd.read_csv("diff_exp_brain_young_vs_aged_top1000.txt", sep=",", index_col=0)
df_brain

          2.45845905603084e-07
FNIP1
NETO2             3.211428e-07
FKBP5             3.735176e-07
CDK17             4.977945e-07
CELF2             6.595243e-07
PLXNB3            7.813372e-07
...                        ...
KDELR1            3.774707e-04
COTL1             3.785377e-04
DOK5              3.794190e-04
OXR1              3.794435e-04
ANKRD13C          3.796262e-04

[999 rows x 1 columns]

In [49]:
## MICE & HUMAN BRAIN

count = 0
for i in list_gene:
    if (i in list(df_brain.index)):
        print(i)
        count += 1
print(count)

MEF2C
1

In [51]:
# for i in list_gene:
#     if (i in list(df_brain.index)):
#         print(df_human_gene)

df_human_gene.loc["MEF2C"]

GSM624925    14.489980
GSM624926    14.511969
GSM624927    15.138648
GSM624928    14.745753
GSM624929    15.016839
GSM624930    14.976622
GSM624931    15.083932
GSM624932    15.361132
GSM624933    14.820139
GSM624934    15.035929
GSM624935    15.026372
GSM624936    15.179792
GSM624937    15.337810
GSM624938    15.592454
GSM624939    15.114739
GSM624940    15.102857
GSM624941    14.966641
GSM624942    15.100991
GSM624943    14.978907
GSM624944    15.277785
GSM624945    14.652318
GSM624946    15.834128
GSM624947    15.446175
GSM624948    14.863204
GSM624949    15.175682
GSM624950    14.757317
GSM624951    14.935741
GSM624952    14.850026
GSM624953    14.748617
GSM624954    15.263416
GSM624955    15.603609
GSM624956    15.107250
GSM624957    14.895500
GSM624958    14.926356
GSM624959    14.687015
GSM624960    14.996981
GSM624961    15.052755
GSM624962    14.704703
GSM624963    14.968496
GSM624964    14.824660
GSM624965    15.241723
GSM624966    15.163677
GSM624967    14.921162
GSM624968    14.959318
GSM624969    14.925133
GSM624970    14.744398
GSM624971    15.623521
GSM624972    14.775687
GSM624973    14.848276
GSM624974    15.216981
Name: MEF2C, dtype: float64

In [56]:
df_welch_t_human_gene = pd.read_csv("../Relevance & Correlation Analysis/welch_t_test_results_to_d2.csv", sep=",", index_col=0)
# df_welch_t_human_gene = df_welch_t_human_gene[df_welch_t_human_gene["p_val"] < 0.05]
df_welch_t_human_gene

              t_stat     p_val
C17orf77   -6.287527  0.000001
DBNDD1     -5.443449  0.000003
ACTRT3      5.714782  0.000006
LINC01186  -5.379436  0.000006
RASSF2     -5.520792  0.000006
...              ...       ...
CDKN2A-AS1 -0.000410  0.999680
SSR3       -0.000381  0.999701
MAGEB1      0.000253  0.999801
ITPK1-AS1  -0.000219  0.999829
ZMYM1       0.000202  0.999842

[22190 rows x 2 columns]

In [57]:
count = 0
for i in list_gene:
    if (i in list(df_welch_t_human_gene.index)):
        print(df_welch_t_human_gene.loc[i])
        count += 1
print(count)

t_stat   -0.752369
p_val     0.465898
Name: MFAP5, dtype: float64
t_stat   -0.326125
p_val     0.750312
Name: NRARP, dtype: float64
t_stat    1.853208
p_val     0.085744
Name: PAPOLA, dtype: float64
t_stat   -2.138917
p_val     0.040391
Name: CACNG1, dtype: float64
t_stat   -1.124716
p_val     0.283612
Name: CXCL12, dtype: float64
t_stat   -0.147130
p_val     0.885083
Name: LSM12, dtype: float64
t_stat    1.405225
p_val     0.172241
Name: MEF2C, dtype: float64
t_stat   -0.827904
p_val     0.422416
Name: TKT, dtype: float64
t_stat    1.161881
p_val     0.269940
Name: NHLRC2, dtype: float64
t_stat    1.356885
p_val     0.200025
Name: EIF5, dtype: float64
t_stat   -1.274497
p_val     0.216433
Name: HSPB3, dtype: float64
t_stat   -0.853493
p_val     0.410733
Name: MPP3, dtype: float64
t_stat   -0.532650
p_val     0.603667
Name: SRXN1, dtype: float64
t_stat    1.561102
p_val     0.146005
Name: PPARGC1A, dtype: float64
t_stat   -1.181110
p_val     0.259581
Name: NFATC3, dtype: float64
t_stat    1.893219
p_val     0.083099
Name: TMEM261, dtype: float64
t_stat   -0.482380
p_val     0.637996
Name: VPS33A, dtype: float64
t_stat    0.990298
p_val     0.332835
Name: RRP1B, dtype: float64
t_stat    0.204380
p_val     0.841321
Name: ATP6V1G1, dtype: float64
t_stat    0.390721
p_val     0.702444
Name: THAP3, dtype: float64
t_stat   -0.783913
p_val     0.441953
Name: ATP5J, dtype: float64
t_stat   -1.372121
p_val     0.188586
Name: SLC39A7, dtype: float64
22